@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #f7fff7;
    margin: 0;
    overflow-x: hidden;
}

.hero {
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s;
    text-decoration: none;
}

nav ul li a:hover {
    color: #4ecdc4;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #4ecdc4;
    transition: 0.3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}
 .dropdown-content { display: none; position: relative; background-color: #333; padding: 10px; min-width: fit-content; width: auto; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); margin-top: 12px; } .dropdown-content.expanded{ display: flex; flex-direction: column; z-index: 999; } .footer { background-color: #333; color: #fff; text-align: center; padding: 20px; margin-top: 20px; } .footer-content { max-width: 800px; margin: 0 auto; } .footer p { margin: 5px 0; } .toolarea { margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh; } .periodic-table { margin: auto; padding: 20px; width: 80%; display: flex; flex-direction: column; } table { border-collapse: collapse; margin: auto; } td { width: 60px; height: 60px; text-align: center; font-size: 14px; border: 1px solid #000; cursor: pointer; } .empty-cell { border: none; cursor: default; } .element-info { margin-top: 20px; text-align: center; } .element-info h3, .element-info p { margin: 5px; } @media screen and (max-width: 768px) { .navbar li { margin: 5px 0; } .dropdown-content { position: relative; } .tools li { padding: 5px; background-color: #f3f3f3; margin-top: 10px; } .tools { list-style: none; margin: 0; padding: 0; display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; } .tools li .icon { display: none; } .category { margin-bottom: 20px; } .tools-section { max-width: 75%; } .navbar { font-size: 12px; } td { width: 20px; height: 20px; text-align: center; font-size: 9px; border: 1px solid #000; cursor: pointer; } .periodic-table { margin: auto; padding: 10px; width: 100%; display: flex; flex-direction: column; } }
